corpus/template-ip/old_packages/valid_IP_with_SHOULD_MAY_1_rep/representations/rep1/schemas/Estonian_UAM_arh_classification_scheme_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<!-- Rahvusarhiivi Universaalse Arhiveerimismooduli (UAM) väljundi arhiivikirjelduse XML skeem. -->
<xs:schema xmlns="http://www.ra.ee/public/Digiarhiiv/UAM/schemas/export/arhiiviskeem_eksport_EE_2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ra.ee/public/Digiarhiiv/UAM/schemas/export/arhiiviskeem_eksport_EE_2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0 20.11.2013">
	<xs:element name="UAM_eksport_arhiivikirjeldus">
		<xs:annotation>
			<xs:documentation>Arhiivi ja projekti kirjeldus. Arhiivimoodustaja, kirjeldusüksuste (hierarhia), funktsioonide, projekti andmed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Arhiivimoodustaja" type="ArhiivimoodustajaType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Arhiivimoodustaja kirjelduselemendid</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Projekt" type="ProjektType">
					<xs:annotation>
						<xs:documentation>Projekti kirjelduselemendid</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Kirjeldusyksus" type="KirjeldusyksusType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Kirjeldusüksuste (arhiiv, sari, toimik) kirjeldused</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Funktsioon" type="FunktsioonType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Funktsioonide ja volituste kirjeldused</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArhiivimoodustajaType">
		<xs:annotation>
			<xs:documentation>Arhiivimoodustaja andmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AMArhiivIdent" type="xs:string">
				<xs:annotation>
					<xs:documentation>Arhiivi viitekood</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AMTyyp" type="AMTyypEnumerationType">
				<xs:annotation>
					<xs:documentation>Arhiivimoodustaja tüüp (moodustaja või allmoodustaja)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AMAsutusTyyp" type="AMAsutusTyypEnumerationType">
				<xs:annotation>
					<xs:documentation>Arhiivimoodustaja tüüp organisatsioonina (O) või eraisikuna  (I)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AMNimetus" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni ametlik nimetus ning nimetuse muudatused koos kehtivusajaga. (I) Isiku täielik ees- ja perekonnanimi ning nimemuudatused koos kehtivusajaga</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimetus" type="xs:string">
							<xs:annotation>
								<xs:documentation>Arhiivimoodustaja nimevormi tekstiline väärtus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Kehtivusaeg" type="AegType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nimetuse, nime või nimemuutuse kehtivusaja algus ning lõpp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Eesnimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arhiivimoodustaja isiku puhul eesnimi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Perekonnanimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arhiivimoodustaja isiku puhul perekonnanimi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="T2iend" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arhiivimoodustaja isiku puhul nime t2iend</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMNimetusLyhend" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni nimetuse üldkasutatav lühend või akronüüm koos kehtivusajaga. (I) Laialt kasutatav pseudonüüm või hüüdnimi koos kehtivusajaga.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Lyhend" type="xs:string">
							<xs:annotation>
								<xs:documentation>(O) Organisatsiooni nimetuse üldkasutatav lühend või akronüüm. (I) Laialt kasutatav pseudonüüm või hüüdnimi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Kehtivusaeg" type="AegType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Lühendi, akronüümi, pseudonüümi või hüüdnime kehtivusaja algus ning lõpp</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMNimetusVoorkeelne" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni ametlik nimetus võõrkeeles koos kehtivusajaga. (I) Isiku täielik nimi teistes tähestikes (näiteks ladina, slaavi, araabia) koos kehtivusajaga.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Voorkeelne" type="xs:string">
							<xs:annotation>
								<xs:documentation>(O) Organisatsiooni ametlik nimetus võõrkeeles. (I) Isiku täielik nimi teistes tähestikes.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Kehtivusaeg" type="AegType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ametliku võõrkeelse nimetuse või teises tähestikus nime kehtivusaja algus ning lõpp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Keel" type="xs:string" default="eesti" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Keel, milles ametlik võõrkeelne nimetus või teises tähestikus nimevorm esitatakse.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMRegistrikood" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni registrikood riigi- ja kohaliku omavalitsuse asutuste riiklikus registris või äriregistris.	(I) Isikukood rahvastikuregistris</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AMRegister" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Registri nimi, millest pärineb organisatsiooni registrikood või isiku isikukood</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AMTegevusaeg" type="AegType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Aeg, millal organisatsioon on tegutsenud.	(I) Isiku sünni- ja surmadaatum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AMAsukoht" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Asukoht, kus organisatsioon tegutses (viimane postiaadress)	(I) Koht, kus isik elas</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Lahiaadress" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Asukoha või elukoha maja nr, tänava nimetus, korteri nr</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Omavalitsusyksus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Asukoha või elukoha linna, valla või sellega samaväärse ajaloolise administratiivüksuse nimetus (külanõukogu)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Asustusyksus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Küla, vallasisene linn, alev jne</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Piirkond" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Vabatekstiline asukoha kirjeldus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Riik" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Asukoha või elukoha riik</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SeosAeg" type="AegType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arhiivimoodustaja ja asukoha või elukoha seose alg- ja lõppdaatum</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMStaatus" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni staatus vastavalt riigi- ja kohaliku omavalitsuse asutuste riiklikule registrile või eraoigusliku organisatsioonina või muu staatusena koos kehtivusajaga	(I) Isiku rahvus</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Staatus" type="xs:string">
							<xs:annotation>
								<xs:documentation>(O) Organisatsiooni staatus vastavalt riigi- ja kohaliku omavalitsuse asutuste riiklikule registrile või eraoigusliku organisatsioonina või muu staatusena	(I) Isiku rahvus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Kehtivusaeg" type="AegType">
							<xs:annotation>
								<xs:documentation>Organisatsiooni staatuse kehtivusaja algus ja lõpp</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMTegevusala" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni dokumentide liigitusskeemis või  tegevust reguleerinud õigusaktides sätestatud põhifunktsioonid, tegevused või tegevusvaldkonnad koos volitusnormi ja daatumite äranäitamisega. 	(I) Isiku ametialad, ametinimetused, tegevusalad või ülesanded, vajadusel koos daatumitega</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimetus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Funktsiooni, tegevuse, valdkonna, ametiala, ametikoha, tegevusala, ülesande jms nimetus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Kirjeldus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Liigitusskeemis oleva funktsiooni kirjeldus väljendatuna protsesside või tegevuste nimedena, mida funktsiooni täitmiseks teostatakse</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AMVolitused" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Normdokumendi liik, millega volitus on antud ja viide</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VolitusTyyp" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Normdokumendi liik, millega volitus on antud</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="VolitusNimetus" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Normdokument, millega volitus on antud</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="VolitusAeg" type="AegType">
										<xs:annotation>
											<xs:documentation>Volituse kehtivusaja algus ja lõpp</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMStruktuur" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni struktuuri ja selle muutumise esitus struktuuripuuna (lisafail) koos kehtivusaja daatumitega.(I) Eraisiku sugupuu (lisafail)
                    </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Struktuur" type="FailType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arhiivimoodustaja struktuur või sugupuu failina/pildina</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="KehtivusAeg" type="AegType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Struktuuriüksuse loomise aeg</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StruktuurMuudatus" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Ühe perioodi jooksul toimunud muudatus</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Muudatus" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Ühe (struktuuripuuga esitatud) perioodi jooksul toimunud muudatus</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="JoustumineAeg" type="LaiendatudKuupaevType">
										<xs:annotation>
											<xs:documentation>Daatum, millal kirjeldatud struktuurimuudatus jõustus</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMAjalugu" type="xs:string">
				<xs:annotation>
					<xs:documentation>(O) Organisatsiooni ajaloo kokkuvõtlik esitus. (I) Isiku eluloo kokkuvõtlik esitus. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AMSeos" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Seonduva arhiivimoodustaja nimetus või nimi, koos seose kirjelduse ja daatumiga</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SeosNimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Seonduva arhiivimoodustaja ametlik nimetus või täielik ees- ja perekonnanimi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SeosAeg" type="AegType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Seonduva ja kirjeldatava arhiivimoodustaja vahelise seose algus ja lõpp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SeosSelgitus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Selgitus loodud seose kohta, mis lühidalt täpsustab hierarhilist-, perekondlikku-, järgnevus- või mingit muud seost või annab seose kirjelduse narratiivina</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMPublikatsioon" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Infoallikas või publikatsioon, mis sisaldab teavet arhiivimoodustaja ajaloo, eluloo või mistahes muu olulise konteksti kohta</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMKoostamine" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kirjelduse koostamise või muutmise aeg ning koostaja(te) või muutja(te) nimi (nimed)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string">
							<xs:annotation>
								<xs:documentation>Kirjelduse koostaja nimi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Aeg" type="LaiendatudKuupaevType">
							<xs:annotation>
								<xs:documentation>Kirjelduse koostamise aeg</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Tegevus" type="KoostamineTegevusEnumerationType">
							<xs:annotation>
								<xs:documentation>Valikuliselt: loomine, täiendamine</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AMKasutatudAllikad" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Arhiivimoodustaja kirjeldamiseks kasutatud kirjanduse loetelu</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProjektType">
		<xs:annotation>
			<xs:documentation>Projekti andmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProjektNimi" type="xs:string">
				<xs:annotation>
					<xs:documentation>Projekti nimetus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjektAutor" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Projekti koostaja/autori ees- ja perenimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutorAmet" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Autori ametikoht</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutorAsutus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Asutuse nimetus (autori asutus)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KoostamineKoht" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Koostamise koht</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NimistuNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nimistu nr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EsimeneSailikNumber" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Säilikute nummerdamise algus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoomineKuupaev" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Loomiskuupäev/sisendkuupäev</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EdastusKuupaev" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Edastuskuupäev</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EdastusKirjeldus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Edastuse kirjeldus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjektTunnusArhiivis" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Projekti tunnus (ID) Rahvusarhiivi infosüsteemis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KirjeldusyksusType">
		<xs:annotation>
			<xs:documentation>Kirjeldusüksuse andmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KyTasand" type="KyTasandEnumerationType">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse tasand (arhiiv, allarhiiv, sari, allsari, säilik, arhivaal) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyIdentiteediala" type="KyIdentiteedialaType">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksust identifitseerivad metaandmed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KySisuStruktAla" type="KySisuStruktAlaType">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse sisu ja struktuuri metaandmed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyJuurdepaasuala" type="JuurdepaasualaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse kasutamise piirangut kirjeldavad metaandmed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KySeonduvAines" type="SeotudOsaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Päritolu kaudu või muul moel seotud kirjeldusüksus  kas samas või mujal arhiivis. Selgitatakse kirjeldusüksuste vaheliste seoste iseloomu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyPublikatsioon" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Määratletakse publikatsioonid, mille aluseks on olnud kirjeldusüksuse kasutamine, uurimine või analüüs.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Publikatsiooni nimi</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyKirjeldusAndmed" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kirjelduse koostamise või muutmise aeg ning koostaja(te) või muutja(te) nimi või nimed.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kirjelduse koostaja nimi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Aeg" type="LaiendatudKuupaevType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kirjeldusüksuse kirjelduse loomise kuupäev</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Tegevus" type="KoostamineTegevusEnumerationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kirjeldusega tehtud tegevus (loomine, täiendamine)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyKasutatudAllikad" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Määratletakse allikmaterjalid, mis on olnud aluseks käesoleva kirjelduse koostamisel.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Allika nimi</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyMarkused" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kasutatakse vaid juhul, kui olulist informatsiooni ei ole võimalik kanda teistesse kirjelduselementidesse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyTegevus" type="TegevusType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tegevused kirjeldusüksusega</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KyIdentiteedialaType">
		<xs:annotation>
			<xs:documentation>Kirjeldusüksuse identifitseerivate metaandmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KyIdent" type="xs:string">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse identifikaator (normatiivne viitekood pikal kujul), arhiivi viitekood</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyViit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tähis algsüsteemis (Alternatiivne viitekood). Mittevajalik arhiivi ja allarhiivi kirjelduses</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FNS" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fond-Nimistu-Säilik numeratsioon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EelmineFNS" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Varasem Fond-Nimistu-Säilik numeratsioon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyPealkiri" type="xs:string">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse pealkiri</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyPealkiriVoorkeeles" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse pealkiri võõrkeeles ja keel</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pealkiri" type="xs:string">
							<xs:annotation>
								<xs:documentation>Kirjeldusüksuse pealkiri võõrkeeles
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Keel" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kirjeldusüksuse pealkirja keel
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyAeg" type="AegType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse piirdaatumite algus- ja lõppaeg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyMuutmiseAeg" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Elemendi muutmise kuupäev</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyMootarv" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse alluvate arv</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="yhik" type="MootarvYhikEnumerationType" use="optional" default="baiti">
						<xs:annotation>
							<xs:documentation>Kirjeldusüksuse alluvate arvu mõõtühik</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyKuuluvus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Andmed eraõigusliku isiku poolt dokumentide arhiivi deponeerimise kohta (nt hoiustamislepingu alusel).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Omanik" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Omanik</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Aeg" type="LaiendatudKuupaevType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Lepingust tulenev tähtaeg omandi üleminekuks riigile</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyPiirdaatumid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse ja alamelementide piirdaatumid aastate vahemikena</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KySisuStruktAlaType">
		<xs:annotation>
			<xs:documentation>Kirjeldusüksuse sisu ja struktuuri metaandmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KyKogus" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse mistahes täpseim võimalik suurus, maht, kogus (näiteks: säilikute arv, riiulimeetrid, lehtede arv, failide arv jne) araabia numbrites või lineaarse suurusena või ruumalana.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Kogus" type="xs:decimal">
							<xs:annotation>
								<xs:documentation>Kogust kirjeldav number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Yhik" type="xs:string">
							<xs:annotation>
								<xs:documentation>Koguse ühik</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyMarksona" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Märksõna ja / või viide kasutatavale märksõnastikule või klassifikaatorile</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Marksona" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Märksõna</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KySeotudArhiivimoodustaja" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Viide arhiivimoodustaja kirjeldusele</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arhiivimoodustaja nimi</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyHoiustamiseAjalugu" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vabatekstiline kirjeldus kirjeldusüksuse senise hoiustamise kohta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KySisu" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse teema</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyHindamine" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Esitatakse antud kirjeldusüksuse suhtes langetatud arhiiviväärtuse andmise hindamisotsused. Võimalusel viidatakse hindamisotsuse numbrile ja kuupäevale.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Otsus" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hindamisotsuse number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Aeg" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hindamisotsuse kuupäev</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Pealkiri" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hindamisotsuse pealkiri</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Sisu" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hindamisotsuse sisu</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyKorrastussysteem" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kirjeldab, kuidas arhiivi on eri aegadel struktureeritud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyTaienemine" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse võimalik täiendamine (sarja puhul)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KyOtsivahend" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Esitatakse täiendavad otsivahendid peale arhiivinimistu (ka AIS) ja viited nende asukohtadele</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nimi" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Otsivahendi nimi</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KyMetaLiik" type="xs:anyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liigipõhiste metaandmete ruum</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JuurdepaasualaType">
		<xs:annotation>
			<xs:documentation>Kirjeldusüksuse kasutamise piirangute kirjelduste tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KyKeel" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ainese sisu esituse keel ja kirjaviis</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Keel" type="xs:string"/>
						<xs:element name="Kirjaviis" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="JuurdepaasPiirang" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksusele omistatud kasutusõiguste piirang </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Piirang" type="PiirangEnumerationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Märge juurdepääsupiirangu olemasolu kohta</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PiirangAeg" type="AegType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Juurdepääsupiirangu alguse ja lõpu kuupäev</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PiirangKestus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Piirangu kestus kui on määratud tekstiliselt</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PiirangAlus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Õigusakt või muu põhjus, mille alusel piirang seatakse</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PiirangKirjeldus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Piirangu kirjeldus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Paritud" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Näitab, kas piirang on paritud allyksustelt</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IPR" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Intellektuaalomandi õigused kirjeldusüksuse sisu suhtes</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IPROmanik" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Intellektuaalomandi omaniku nimi või viide omaniku kirjeldusele</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IPRTahtaeg" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Intellektuaalomandi lõpptähtaeg</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IPRAlus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Viide õigusaktile, mille alusel piirang kehtib</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IPRKirjeldus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Märge dokumendi sisu taasesitamise keelamise kohta. Teave dokumendi koopiate tegemise võimalikkusse kohta. (Copyright notice)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeotudOsaType">
		<xs:annotation>
			<xs:documentation>Kirjeldusüksuse, funktsiooni või dokumendiga seotud teine kirjeldusüksus, dokument või funktsioon</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeotudOsaIdent" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Viide seotud objekti kirjeldusele</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeotudOsaSelgitus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Objektidevahelise seose tüüp vabas tekstis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TegevusType">
		<xs:annotation>
			<xs:documentation>Tegevuse andmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TegevusNimetus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Tegevuse üheselt arusaadav nimetus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TeostajaNimi" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tegevuse teostaja nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TeostajaRoll" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Teostaja roll tegevuse teostamisel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TegevusAeg" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tegevuse teostamise kuupäev ja aeg</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FunktsioonType">
		<xs:annotation>
			<xs:documentation>Funktsiooni andmete tüüp. Kehtib arhiiviskeemi väljastamisel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunktsioonTasand" type="FunktsioonTasandEnumerationType">
				<xs:annotation>
					<xs:documentation>Funktsiooni tasand (arhiiv, allarhiiv, sari, allsari, toimik, alltoimik) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunktsioonNimi" type="xs:string">
				<xs:annotation>
					<xs:documentation>Funktsiooni nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunktsioonNr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Funktsiooni number arhiiviskeemis (normatiivne viitekood pikal kujul)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunktsioonViit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Funktsiooni number/viit EDHSis (alternatiivne viitekood)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kirjeldus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liigitusskeemis oleva funktsiooni kirjeldus või olemuse selgitus väljendatuna protsesside või tegevuste nimedena, mida funktsiooni täitmiseks teostatakse. Tegevusvaldkonna ülevaade jms</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volitus" type="FunktsioonVolitusType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Funktsiooni aluseks oleva volituse kirjeldus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunktsioonTegevus" type="TegevusType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tegevused funktsiooni kirjeldusega</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MuutmiseAeg" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Elemendi muutmise kuupäev</xs:documentation>
				</xs:annotation>
			</xs:element>		
<xs:element name="Mootarv" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kirjeldusüksuse alluvate arv</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="yhik" type="MootarvYhikEnumerationType" use="optional" default="baiti">
						<xs:annotation>
							<xs:documentation>Kirjeldusüksuse alluvate arvu mõõtühik</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>					
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FunktsioonVolitusType">
		<xs:annotation>
			<xs:documentation>Funktsiooni aluseks oleva volituse andmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VolitusTyyp" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volituse tüüp (näiteks seadus, määrus vms.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolitusNimi" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volituse nimi (volitusnormi pealkiri)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolitusKehtivusAeg" type="AegType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AMSeosTyypEnumerationType">
		<xs:annotation>
			<xs:documentation>Arhiivimoodustajate vaheliste seoste tüüpide võimalikud väärtused.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MuuSeos"/>
			<xs:enumeration value="Oigusjarglane"/>
			<xs:enumeration value="KuulubHaldusalasse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KyTasandEnumerationType">
		<xs:annotation>
			<xs:documentation>Kirjeldusüksuse tasandi võimalikud väärtused (arhiiv, allarhiiv, sari, allsari, toimik, alltoimik). Kehtib ainult ainese väljastamisel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="arhiiv"/>
			<xs:enumeration value="allarhiiv"/>
			<xs:enumeration value="sari"/>
			<xs:enumeration value="allsari"/>
			<xs:enumeration value="toimik"/>
			<xs:enumeration value="alltoimik"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FunktsioonTasandEnumerationType">
		<xs:annotation>
			<xs:documentation>Funktsiooni tasandi võimalikud väärtused (funktsioon, allfunktsioon).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="funktsioon"/>
			<xs:enumeration value="allfunktsioon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PiirangEnumerationType">
		<xs:annotation>
			<xs:documentation>Juurdepääsupiirangu võimalikud väärtused.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AK">
				<xs:annotation>
					<xs:documentation>Asutusesiseseks kasutamiseks</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEI">
				<xs:annotation>
					<xs:documentation>Delikaatsed ja eraelulised isikuandmed (DEI),  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UleandjaPiirang">
				<xs:annotation>
					<xs:documentation>Üleandja piirang</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeoseTyypEksportEnumerationType">
		<xs:annotation>
			<xs:documentation>Seose tüübi võimalikud väärtused. Loetelu kehtib ainese väljastamisel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SeotudArhiivimoodustaja"/>
			<xs:enumeration value="SeotudArhiiv"/>
			<xs:enumeration value="SeotudFunktsioon"/>
			<xs:enumeration value="SeotudToimik"/>
			<xs:enumeration value="SeotudSari"/>
			<xs:enumeration value="SeotudDokument"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMAsutusTyypEnumerationType">
		<xs:annotation>
			<xs:documentation>Arhiivimoodustaja tüüp (organisatsioon, eraisik)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Organisatsioon"/>
			<xs:enumeration value="Eraisik"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMTyypEnumerationType">
		<xs:annotation>
			<xs:documentation>Arhiivimoodustaja tüübi võimalikud väärtused (arhiivimoodustaja, allmoodustaja)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Arhiivimoodustaja"/>
			<xs:enumeration value="Allmoodustaja"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMStaatusEnumerationType">
		<xs:annotation>
			<xs:documentation>Arhiivimoodustaja staatuse võimalikud väärtused</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Avalik-õiguslik juriidiline isik"/>
			<xs:enumeration value="Avalik-õiguslikku ametit pidav isik"/>
			<xs:enumeration value="Avalik-õigusliku ameti kandja"/>
			<xs:enumeration value="Avalik-õigusliku juriidilise isiku asutus"/>
			<xs:enumeration value="Kohus"/>
			<xs:enumeration value="Linna ametiasutus"/>
			<xs:enumeration value="Linna ametiasutuse hallatav asutus"/>
			<xs:enumeration value="Põhiseaduslik institutsioon"/>
			<xs:enumeration value="Põhiseadusliku institutsiooni teenindav asutus"/>
			<xs:enumeration value="Riigi muu institutsioon"/>
			<xs:enumeration value="Riigitulundusasutus"/>
			<xs:enumeration value="Sihtasutus"/>
			<xs:enumeration value="Sõjaväeliselt korraldatud asutus"/>
			<xs:enumeration value="Sõjaväeliselt korraldatud valitsusasutus"/>
			<xs:enumeration value="Valitsusasutus"/>
			<xs:enumeration value="Valitsusasutuse hallatav riigiasutus"/>
			<xs:enumeration value="Valitsusasutuse kohalik asutus"/>
			<xs:enumeration value="Valitsusasutuse piirkondlik struktuuriüksus"/>
			<xs:enumeration value="Valla ametiasutus"/>
			<xs:enumeration value="Valla ametiasutuse hallatav asutus"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MootarvYhikEnumerationType">
		<xs:annotation>
			<xs:documentation>Kirjeldusüksuse mõõtarvu ühiku võimalikud väärtused</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="baiti"/>
			<xs:enumeration value="sarja"/>
			<xs:enumeration value="toimikut"/>
			<xs:enumeration value="allsarja"/>
			<xs:enumeration value="dokumenti"/>
			<xs:enumeration value="allarhiivi"/>
			<xs:enumeration value="faili"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KoostamineTegevusEnumerationType">
		<xs:annotation>
			<xs:documentation>Arhiivimoodustaja koostamise tegevuse valikud</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="loomine"/>
			<xs:enumeration value="täiendamine"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LaiendatudKuupaevType">
		<xs:sequence>
			<xs:element name="Tyyp" type="LaiendatudKuupaevEnumerationType">
				<xs:annotation>
					<xs:documentation>Näitab, millise kuupäeva tüübiga on tegemist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tapsus" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Näitab, kas aeg on täpne või hinnaguline</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vaartus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Aeg</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AegType">
		<xs:sequence>
			<xs:element name="Algus" type="LaiendatudKuupaevType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Algusdaatum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lopp" type="LaiendatudKuupaevType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lõppdaatum</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LaiendatudKuupaevEnumerationType">
		<xs:annotation>
			<xs:documentation>Kuupäeva tüübi väärtused</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="kuupäev"/>
			<xs:enumeration value="kuuaasta"/>
			<xs:enumeration value="aasta"/>
			<xs:enumeration value="kümnend"/>
			<xs:enumeration value="Iveerand"/>
			<xs:enumeration value="IIveerand"/>
			<xs:enumeration value="IIIveerand"/>
			<xs:enumeration value="IVveerand"/>
			<xs:enumeration value="sajandiIpool"/>
			<xs:enumeration value="sajandiIIpool"/>
			<xs:enumeration value="sajand"/>
			<xs:enumeration value="dateerimata"/>
			<xs:enumeration value="sisestamata"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FailType">
		<xs:annotation>
			<xs:documentation>Faili andmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FailIdent" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Faili üheselt identifitseeriv identifikaator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailNimi" type="xs:string">
				<xs:annotation>
					<xs:documentation>Faili nimi koos laiendiga</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailSuurus" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Faili suurus baitides</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailBase64" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Fail Base64 kodeeritud kujul</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailLoplik" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Kas fail on lõplik või on teda edasi töödeldud?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailOriginaal" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Kas fail on originaal või saadud töötlemise teel?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailArhiivivormingus" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Kas fail on arhiivivormingus või mitte?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailKasutuskoopia" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Kas tegemist on kasutuskoopiaga või mitte?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailTehnTyyp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Faili tüübist (pilt, heli, video, tekst) sõltuvad metaandmed</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="FailPilt" type="FailPiltType"/>
						<xs:element name="FailHeli" type="FailHeliType"/>
						<xs:element name="FailVideo" type="FailVideoType"/>
						<xs:element name="FailTekst" type="FailTekstType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="FailTegevus" type="TegevusType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Failiga tehtud tegevuste kirjeldused</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailVorming" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Faili vorming ja selle versioon</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="versioon" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="FailTarkvara" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Faili kasutamiseks soovitatav tarkvara ja selle versioon</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="versioon" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rasi" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Faili räsi kirjeldavad metaandmed</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RasiVaartus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Räsi väärtus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RasiAlgoritm" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Räsi loomiseks kasutatud algoritm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RasiAeg" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Räsi loomise aeg</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FailPiltType">
		<xs:annotation>
			<xs:documentation>Pildifaili eripäraste metaandmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Punktitihedus" type="xs:string"/>
			<xs:element name="MoodeHor" type="xs:nonNegativeInteger"/>
			<xs:element name="MoodeVer" type="xs:nonNegativeInteger"/>
			<xs:element name="Bitisygavus" type="xs:nonNegativeInteger"/>
			<xs:element name="Varviruum" type="xs:string"/>
			<xs:element name="Varvihaldus" type="xs:string" minOccurs="0"/>
			<xs:element name="Kontrolltabel" type="xs:string" minOccurs="0"/>
			<xs:element name="Orientatsioon" type="xs:string"/>
			<xs:element name="KompresseerimineFormaat" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FailHeliType">
		<xs:annotation>
			<xs:documentation>Helifaili eripäraste metaandmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Formaat" type="xs:string"/>
			<xs:element name="Diskreetimisaste" type="xs:string"/>
			<xs:element name="Resolutsioon" type="xs:string"/>
			<xs:element name="KanaliteArv" type="xs:nonNegativeInteger"/>
			<xs:element name="Kestus" type="xs:duration"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FailVideoType">
		<xs:annotation>
			<xs:documentation>Videofaili eripäraste metaandmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TVstandard" type="xs:string"/>
			<xs:element name="KaaderMoodeHor" type="xs:nonNegativeInteger"/>
			<xs:element name="KaaderMoodeVer" type="xs:nonNegativeInteger"/>
			<xs:element name="KompresseerimineFormaat" type="xs:string"/>
			<xs:element name="Andmesagedus" type="xs:string"/>
			<xs:element name="Kaadrisagedus" type="xs:string"/>
			<xs:element name="Kodeering" type="xs:string"/>
			<xs:element name="KyljedSuhe" type="xs:string"/>
			<xs:element name="Skaneerimisviis" type="xs:string"/>
			<xs:element name="VideoHeli" type="FailHeliType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FailTekstType">
		<xs:annotation>
			<xs:documentation>Tekstifaili eripäraste metaandmete tüüp</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kodeering" type="xs:string"/>
			<xs:element name="DTDSkeem" type="xs:string" minOccurs="0"/>
			<xs:element name="TekstStrukt" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
